{% extends 'Base/base.html' %}

{% block  navbartitle %}
                      
                    <li class="nav-item">
                      <a class="nav-link" href="#">Sales</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Purchase</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Invertory</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Accounting </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">HR </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">setting</a>
                    </li>
{% endblock   %}